<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece22.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @piece22.user_id %>
</p>

<p>
  <strong>Pnameform:</strong>
  <%= @piece22.pnameform_id %>
</p>

<%= link_to 'Edit', edit_piece22_path(@piece22) %> |
<%= link_to 'Back', piece22s_path %>
