<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece6.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @piece6.user_id %>
</p>

<%= link_to 'Edit', edit_piece6_path(@piece6) %> |
<%= link_to 'Back', piece6s_path %>
