<h1></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @piece21s.each do |piece21| %>
      <tr>
        <td><%= piece21.name %></td>
        <td><%= link_to 'Edit', edit_pnameform_piece21_path(@pnameform, piece21) %></td>
        <td><%= link_to 'Destroy', [@pnameform, piece21], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Piece21', new_pnameform_piece21_path %>
<%= link_to 'Back', @pnameform %>
