<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece3.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @piece3.user_id %>
</p>

<%= link_to 'Edit', edit_piece3_path(@piece3) %> |
<%= link_to 'Back', piece3s_path %>
