<h1></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @piece15s.each do |piece15| %>
      <tr>
        <td><%= piece15.name %></td>
        <td><%= link_to 'Edit', edit_pnameform_piece15_path(@pnameform, piece15) %></td>
        <td><%= link_to 'Destroy', [@pnameform, piece15], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Piece15', new_pnameform_piece15_path %>
<%= link_to 'Back', @pnameform %>
