<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece15.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @piece15.user_id %>
</p>

<p>
  <strong>Pnameform:</strong>
  <%= @piece15.pnameform_id %>
</p>

<%= link_to 'Edit', edit_piece15_path(@piece15) %> |
<%= link_to 'Back', piece15s_path %>
