<h1>Listing piece7s</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @piece7s.each do |piece7| %>
      <tr>
        <td><%= piece7.name %></td>
        <td><%= piece7.user_id %></td>
        <td><%= link_to 'Show', piece7 %></td>
        <td><%= link_to 'Edit', edit_piece7_path(piece7) %></td>
        <td><%= link_to 'Destroy', piece7, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Piece7', new_piece7_path %>
