<h1><%= @pnameform.pname2 %>s</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @piece2s.each do |piece2| %>
      <tr>
        <td><%= piece2.name %></td>
        <td><%= link_to 'Edit', edit_pnameform_piece2_path(@pnameform, piece2) %></td>
        <td><%= link_to 'Destroy', [@pnameform, piece2], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New #{@pnameform.pname2}", new_pnameform_piece2_path %>
<%= link_to 'Back', @pnameform %>
