<%= form_for(@sed) do |f| %>
  <% if @sed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sed.errors.count, "error") %> prohibited this sed from being saved:</h2>

      <ul>
      <% @sed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Create/Update" %>
  </div>
<% end %>
