<%= form_for [@sed, @script] do |f| %>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="control-group" align="center">
    <% f.label :play1, class: 'control-label' %>
    <div class="controls">
      <%= collection_select( :script, :play1, @sed.plays, :fullname, :fullname, { :include_blank => true}, { :multiple => false} ) %> 
    </div>
  </div>
  <div class="field">
    <%= f.label :hash1 %><br>
    <%= f.text_field :hash1 %>
  </div>
  <div class="field">
    <%= f.label :down1 %><br>
    <%= f.text_field :down1 %>
  </div>
  <div class="field">
    <%= f.label :distance1 %><br>
    <%= f.text_field :distance1 %>
  </div>
  <div class="field">
    <%= f.label :defense1 %><br>
    <%= f.text_field :defense1 %>
  </div>
  <div class="field">
    <%= f.label :sed_id %><br>
    <%= f.number_field :sed_id %>
  </div>
  <div class="field">
    <%= f.label :situation1 %><br>
    <%= f.text_field :situation1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
