<p id="notice"><%= notice %></p>

  
<h4><%= @script.name %></h4>
<br>

<div style="float: left;"> 
  <table class="table table-bordered" id="MyStyledTable">
    <tr><td colspan ="5" ><center><h6><%= @script.situation1 %></h6></center></td></tr>
    <tr>
      <th style="font-size: 10px;">#</th>
      <th style="font-size: 10px;">Hash</th>
      <th style="font-size: 10px;">D-D</th>
      <th style="font-size: 10px;">Play</th>
      <th style="font-size: 10px;">Defense</th> 
    </tr>
    <tr>
      <td>1</td>
      <td><%= @script.hash1 %></td>
      <td><%= @script.down1 %>-<%= @script.distance1 %></td>
      <td><%= @script.play1 %></td>
      <td><%= @script.defense1 %></td>  
    </tr>  
    <tr>
      <td>2</td>
      <td><%= @script.hash2 %></td>
      <td><%= @script.down2 %>-<%= @script.distance2 %></td>
      <td><%= @script.play2 %></td>
      <td><%= @script.defense2 %></td>  
    </tr> 
    <tr>
      <td>3</td>
      <td><%= @script.hash3 %></td>
      <td><%= @script.down3 %>-<%= @script.distance3 %></td>
      <td><%= @script.play3 %></td>
      <td><%= @script.defense3 %></td>  
    </tr> 
    <tr>
      <td>4</td>
      <td><%= @script.hash4 %></td>
      <td><%= @script.down4 %>-<%= @script.distance4 %></td>
      <td><%= @script.play4 %></td>
      <td><%= @script.defense4 %></td>  
    </tr> 
    <tr>
      <td>5</td>
      <td><%= @script.hash5 %></td>
      <td><%= @script.down5 %>-<%= @script.distance5 %></td>
      <td><%= @script.play5 %></td>
      <td><%= @script.defense5 %></td>  
    </tr> 
    <tr>
      <td>6</td>
      <td><%= @script.hash6 %></td>
      <td><%= @script.down6 %>-<%= @script.distance6 %></td>
      <td><%= @script.play6 %></td>
      <td><%= @script.defense6 %></td>  
    </tr> 
    <tr>
      <td>7</td>
      <td><%= @script.hash7 %></td>
      <td><%= @script.down7 %>-<%= @script.distance7 %></td>
      <td><%= @script.play7 %></td>
      <td><%= @script.defense7 %></td>  
    </tr> 
    <tr>
      <td>8</td>
      <td><%= @script.hash8 %></td>
      <td><%= @script.down8 %>-<%= @script.distance8 %></td>
      <td><%= @script.play8 %></td>
      <td><%= @script.defense8 %></td>  
    </tr> 
    <tr>
      <td>9</td>
      <td><%= @script.hash9 %></td>
      <td><%= @script.down9 %>-<%= @script.distance9 %></td>
      <td><%= @script.play9 %></td>
      <td><%= @script.defense9 %></td>  
    </tr> 
    <tr>
      <td>10</td>
      <td><%= @script.hash10 %></td>
      <td><%= @script.down10 %>-<%= @script.distance10 %></td>
      <td><%= @script.play10 %></td>
      <td><%= @script.defense10 %></td>  
    </tr>  
      <td>11</td>
      <td><%= @script.hash11 %></td>
      <td><%= @script.down11 %>-<%= @script.distance11 %></td>
      <td><%= @script.play11 %></td>
      <td><%= @script.defense11 %></td>  
    </tr>  
    <tr>
      <td>12</td>
      <td><%= @script.hash12 %></td>
      <td><%= @script.down12 %>-<%= @script.distance12 %></td>
      <td><%= @script.play12 %></td>
      <td><%= @script.defense12 %></td>  
    </tr> 
    <tr>
      <td>13</td>
      <td><%= @script.hash13 %></td>
      <td><%= @script.down13 %>-<%= @script.distance13 %></td>
      <td><%= @script.play13 %></td>
      <td><%= @script.defense13 %></td>  
    </tr> 
    <tr>
      <td>14</td>
      <td><%= @script.hash14 %></td>
      <td><%= @script.down14 %>-<%= @script.distance14 %></td>
      <td><%= @script.play14 %></td>
      <td><%= @script.defense14 %></td>  
    </tr> 
    <tr>
      <td>15</td>
      <td><%= @script.hash15 %></td>
      <td><%= @script.down15 %>-<%= @script.distance15 %></td>
      <td><%= @script.play15 %></td>
      <td><%= @script.defense15 %></td>  
    </tr> 
    <tr>
      <td>16</td>
      <td><%= @script.hash16 %></td>
      <td><%= @script.down16 %>-<%= @script.distance16 %></td>
      <td><%= @script.play16 %></td>
      <td><%= @script.defense16 %></td>  
    </tr> 
    <tr>
      <td>17</td>
      <td><%= @script.hash17 %></td>
      <td><%= @script.down17 %>-<%= @script.distance17 %></td>
      <td><%= @script.play17 %></td>
      <td><%= @script.defense17 %></td>  
    </tr> 
    <tr>
      <td>18</td>
      <td><%= @script.hash18 %></td>
      <td><%= @script.down18 %>-<%= @script.distance18 %></td>
      <td><%= @script.play18 %></td>
      <td><%= @script.defense18 %></td>  
    </tr> 
    <tr>
      <td>19</td>
      <td><%= @script.hash19 %></td>
      <td><%= @script.down19 %>-<%= @script.distance19 %></td>
      <td><%= @script.play19 %></td>
      <td><%= @script.defense19 %></td>  
    </tr> 
    <tr>
      <td>20</td>
      <td><%= @script.hash20 %></td>
      <td><%= @script.down20 %>-<%= @script.distance20 %></td>
      <td><%= @script.play20 %></td>
      <td><%= @script.defense20 %></td>  
    </tr>  
    <tr>
      <td>21</td>
      <td><%= @script.hash21 %></td>
      <td><%= @script.down21 %>-<%= @script.distance21 %></td>
      <td><%= @script.play21 %></td>
      <td><%= @script.defense21 %></td>  
    </tr> 
    <tr>
      <td>22</td>
      <td><%= @script.hash22 %></td>
      <td><%= @script.down22 %>-<%= @script.distance22 %></td>
      <td><%= @script.play22 %></td>
      <td><%= @script.defense22 %></td>  
    </tr> 
    <tr>
      <td>23</td>
      <td><%= @script.hash23 %></td>
      <td><%= @script.down23 %>-<%= @script.distance23 %></td>
      <td><%= @script.play23 %></td>
      <td><%= @script.defense23 %></td>  
    </tr> 
    <tr>
      <td>24</td>
      <td><%= @script.hash24 %></td>
      <td><%= @script.down24 %>-<%= @script.distance24 %></td>
      <td><%= @script.play24 %></td>
      <td><%= @script.defense24 %></td>  
    </tr> 
    <tr>
      <td>25</td>
      <td><%= @script.hash25 %></td>
      <td><%= @script.down25 %>-<%= @script.distance25 %></td>
      <td><%= @script.play25 %></td>
      <td><%= @script.defense25 %></td>  
    </tr>                                       
  </table>  
</div>

<div style="float: left"> 
  <table class="table table-bordered" id="MyStyledTable">
    <tr><td colspan ="5"><center><h6><%= @script.situation2 %></h6></center></td></tr>
    <tr>
      <th style="font-size: 10px;">#</th>
      <th style="font-size: 10px;">Hash</th>
      <th style="font-size: 10px;">D-D</th>
      <th style="font-size: 10px;">Play</th>
      <th style="font-size: 10px;">Defense</th> 
    </tr>
    <tr>
      <td>1</td>
      <td><%= @script.hash26 %></td>
      <td><%= @script.down26 %>-<%= @script.distance26 %></td>
      <td><%= @script.play26 %></td>
      <td><%= @script.defense26 %></td>  
    </tr>  
    <tr>
      <td>2</td>
      <td><%= @script.hash27 %></td>
      <td><%= @script.down27 %>-<%= @script.distance27 %></td>
      <td><%= @script.play27 %></td>
      <td><%= @script.defense27 %></td>  
    </tr> 
    <tr>
      <td>3</td>
      <td><%= @script.hash28 %></td>
      <td><%= @script.down28 %>-<%= @script.distance28 %></td>
      <td><%= @script.play28 %></td>
      <td><%= @script.defense28 %></td>  
    </tr> 
    <tr>
      <td>4</td>
      <td><%= @script.hash29 %></td>
      <td><%= @script.down29 %>-<%= @script.distance29 %></td>
      <td><%= @script.play29 %></td>
      <td><%= @script.defense29 %></td>  
    </tr> 
    <tr>
      <td>5</td>
      <td><%= @script.hash30 %></td>
      <td><%= @script.down30 %>-<%= @script.distance30 %></td>
      <td><%= @script.play30 %></td>
      <td><%= @script.defense30 %></td>  
    </tr>
    <tr>
      <td>6</td>
      <td><%= @script.hash31 %></td>
      <td><%= @script.down31 %>-<%= @script.distance31 %></td>
      <td><%= @script.play31 %></td>
      <td><%= @script.defense31 %></td>  
    </tr> 
    <tr>
      <td>7</td>
      <td><%= @script.hash32 %></td>
      <td><%= @script.down32 %>-<%= @script.distance32 %></td>
      <td><%= @script.play32 %></td>
      <td><%= @script.defense32 %></td>  
    </tr> 
    <tr>
      <td>8</td>
      <td><%= @script.hash33 %></td>
      <td><%= @script.down33 %>-<%= @script.distance33 %></td>
      <td><%= @script.play33 %></td>
      <td><%= @script.defense33 %></td>  
    </tr> 
    <tr>
      <td>9</td>
      <td><%= @script.hash34 %></td>
      <td><%= @script.down34 %>-<%= @script.distance34 %></td>
      <td><%= @script.play34 %></td>
      <td><%= @script.defense34 %></td>  
    </tr> 
    <tr>
      <td>10</td>
      <td><%= @script.hash35 %></td>
      <td><%= @script.down35 %>-<%= @script.distance35 %></td>
      <td><%= @script.play35 %></td>
      <td><%= @script.defense35 %></td>  
    </tr>  
      <td>11</td>
      <td><%= @script.hash36 %></td>
      <td><%= @script.down36 %>-<%= @script.distance36 %></td>
      <td><%= @script.play36 %></td>
      <td><%= @script.defense36 %></td>  
    </tr>  
    <tr>
      <td>12</td>
      <td><%= @script.hash37 %></td>
      <td><%= @script.down37 %>-<%= @script.distance37 %></td>
      <td><%= @script.play37 %></td>
      <td><%= @script.defense37 %></td>  
    </tr> 
    <tr>
      <td>13</td>
      <td><%= @script.hash38 %></td>
      <td><%= @script.down38 %>-<%= @script.distance38 %></td>
      <td><%= @script.play38 %></td>
      <td><%= @script.defense38 %></td>  
    </tr> 
    <tr>
      <td>14</td>
      <td><%= @script.hash39 %></td>
      <td><%= @script.down39 %>-<%= @script.distance39 %></td>
      <td><%= @script.play39 %></td>
      <td><%= @script.defense39 %></td>  
    </tr> 
    <tr>
      <td>15</td>
      <td><%= @script.hash40 %></td>
      <td><%= @script.down40 %>-<%= @script.distance40 %></td>
      <td><%= @script.play40 %></td>
      <td><%= @script.defense40 %></td>  
    </tr> 
    <tr>
      <td>16</td>
      <td><%= @script.hash41 %></td>
      <td><%= @script.down41 %>-<%= @script.distance41 %></td>
      <td><%= @script.play41 %></td>
      <td><%= @script.defense41 %></td>  
    </tr> 
    <tr>
      <td>17</td>
      <td><%= @script.hash42 %></td>
      <td><%= @script.down42 %>-<%= @script.distance42 %></td>
      <td><%= @script.play42 %></td>
      <td><%= @script.defense42 %></td>  
    </tr> 
    <tr>
      <td>18</td>
      <td><%= @script.hash43 %></td>
      <td><%= @script.down43 %>-<%= @script.distance43 %></td>
      <td><%= @script.play43 %></td>
      <td><%= @script.defense43 %></td>  
    </tr> 
    <tr>
      <td>19</td>
      <td><%= @script.hash44 %></td>
      <td><%= @script.down44 %>-<%= @script.distance44 %></td>
      <td><%= @script.play44 %></td>
      <td><%= @script.defense44 %></td>  
    </tr> 
    <tr>
      <td>20</td>
      <td><%= @script.hash45 %></td>
      <td><%= @script.down45 %>-<%= @script.distance45 %></td>
      <td><%= @script.play45 %></td>
      <td><%= @script.defense45 %></td>  
    </tr>  
    <tr>
      <td>21</td>
      <td><%= @script.hash46 %></td>
      <td><%= @script.down46 %>-<%= @script.distance46 %></td>
      <td><%= @script.play46 %></td>
      <td><%= @script.defense46 %></td>  
    </tr> 
    <tr>
      <td>22</td>
      <td><%= @script.hash47 %></td>
      <td><%= @script.down47 %>-<%= @script.distance47 %></td>
      <td><%= @script.play47 %></td>
      <td><%= @script.defense47 %></td>  
    </tr> 
    <tr>
      <td>23</td>
      <td><%= @script.hash48 %></td>
      <td><%= @script.down48 %>-<%= @script.distance48 %></td>
      <td><%= @script.play48 %></td>
      <td><%= @script.defense48 %></td>  
    </tr> 
    <tr>
      <td>24</td>
      <td><%= @script.hash49 %></td>
      <td><%= @script.down49 %>-<%= @script.distance49 %></td>
      <td><%= @script.play49 %></td>
      <td><%= @script.defense49 %></td>  
    </tr> 
    <tr>
      <td>25</td>
      <td><%= @script.hash50 %></td>
      <td><%= @script.down50 %>-<%= @script.distance50 %></td>
      <td><%= @script.play50 %></td>
      <td><%= @script.defense50 %></td>  
    </tr>      
  </table>    
</div>

<div style="float: left">
  <div style="float: left"> 
    <table class="table table-bordered" id="MyStyledTable">
      <tr><td colspan ="5"><center><h6><%= @script.situation3 %></h6></center></td></tr>
      <tr>
        <th style="font-size: 10px;">#</th>
        <th style="font-size: 10px;">Hash</th>
        <th style="font-size: 10px;">D-D</th>
        <th style="font-size: 10px;">Play</th>
        <th style="font-size: 10px;">Defense</th> 
      </tr>
      <tr>
        <td>1</td>
        <td><%= @script.hash51 %></td>
        <td><%= @script.down51 %>-<%= @script.distance51 %></td>
        <td><%= @script.play51 %></td>
        <td><%= @script.defense51 %></td>  
      </tr>  
      <tr>
        <td>2</td>
        <td><%= @script.hash52 %></td>
        <td><%= @script.down52 %>-<%= @script.distance52 %></td>
        <td><%= @script.play52 %></td>
        <td><%= @script.defense52 %></td>  
      </tr> 
      <tr>
        <td>3</td>
        <td><%= @script.hash53 %></td>
        <td><%= @script.down53 %>-<%= @script.distance53 %></td>
        <td><%= @script.play53 %></td>
        <td><%= @script.defense53 %></td>  
      </tr> 
      <tr>
        <td>4</td>
        <td><%= @script.hash54 %></td>
        <td><%= @script.down54 %>-<%= @script.distance54 %></td>
        <td><%= @script.play54 %></td>
        <td><%= @script.defense54 %></td>  
      </tr> 
      <tr>
        <td>5</td>
        <td><%= @script.hash55 %></td>
        <td><%= @script.down55 %>-<%= @script.distance55 %></td>
        <td><%= @script.play55 %></td>
        <td><%= @script.defense55 %></td>  
      </tr>
      <tr>
        <td>6</td>
        <td><%= @script.hash56 %></td>
        <td><%= @script.down56 %>-<%= @script.distance56 %></td>
        <td><%= @script.play56 %></td>
        <td><%= @script.defense56 %></td>  
      </tr> 
      <tr>
        <td>7</td>
        <td><%= @script.hash57 %></td>
        <td><%= @script.down57 %>-<%= @script.distance57 %></td>
        <td><%= @script.play57 %></td>
        <td><%= @script.defense57 %></td>  
      </tr> 
      <tr>
        <td>8</td>
        <td><%= @script.hash58 %></td>
        <td><%= @script.down58 %>-<%= @script.distance58 %></td>
        <td><%= @script.play58 %></td>
        <td><%= @script.defense58 %></td>  
      </tr> 
      <tr>
        <td>9</td>
        <td><%= @script.hash59 %></td>
        <td><%= @script.down59 %>-<%= @script.distance59 %></td>
        <td><%= @script.play59 %></td>
        <td><%= @script.defense59 %></td>  
      </tr> 
      <tr>
        <td>10</td>
        <td><%= @script.hash60 %></td>
        <td><%= @script.down60 %>-<%= @script.distance60 %></td>
        <td><%= @script.play60 %></td>
        <td><%= @script.defense60 %></td>  
      </tr>  
        <td>11</td>
        <td><%= @script.hash61 %></td>
        <td><%= @script.down61 %>-<%= @script.distance61 %></td>
        <td><%= @script.play61 %></td>
        <td><%= @script.defense61 %></td>  
      </tr>  
      <tr>
        <td>12</td>
        <td><%= @script.hash62 %></td>
        <td><%= @script.down62 %>-<%= @script.distance62 %></td>
        <td><%= @script.play62 %></td>
        <td><%= @script.defense62 %></td>  
      </tr> 
      <tr>
        <td>13</td>
        <td><%= @script.hash63 %></td>
        <td><%= @script.down63 %>-<%= @script.distance63 %></td>
        <td><%= @script.play63 %></td>
        <td><%= @script.defense63 %></td>  
      </tr> 
      <tr>
        <td>14</td>
        <td><%= @script.hash64 %></td>
        <td><%= @script.down64 %>-<%= @script.distance64 %></td>
        <td><%= @script.play64 %></td>
        <td><%= @script.defense64 %></td>  
      </tr> 
      <tr>
        <td>15</td>
        <td><%= @script.hash65 %></td>
        <td><%= @script.down65 %>-<%= @script.distance65 %></td>
        <td><%= @script.play65 %></td>
        <td><%= @script.defense65 %></td>  
      </tr> 
      <tr>
        <td>16</td>
        <td><%= @script.hash66 %></td>
        <td><%= @script.down66 %>-<%= @script.distance66 %></td>
        <td><%= @script.play66 %></td>
        <td><%= @script.defense66 %></td>  
      </tr> 
      <tr>
        <td>17</td>
        <td><%= @script.hash67 %></td>
        <td><%= @script.down67 %>-<%= @script.distance67 %></td>
        <td><%= @script.play67 %></td>
        <td><%= @script.defense67 %></td>  
      </tr> 
      <tr>
        <td>18</td>
        <td><%= @script.hash68 %></td>
        <td><%= @script.down68 %>-<%= @script.distance68 %></td>
        <td><%= @script.play68 %></td>
        <td><%= @script.defense68 %></td>  
      </tr> 
      <tr>
        <td>19</td>
        <td><%= @script.hash69 %></td>
        <td><%= @script.down69 %>-<%= @script.distance69 %></td>
        <td><%= @script.play69 %></td>
        <td><%= @script.defense69 %></td>  
      </tr> 
      <tr>
        <td>20</td>
        <td><%= @script.hash70 %></td>
        <td><%= @script.down70 %>-<%= @script.distance70 %></td>
        <td><%= @script.play70 %></td>
        <td><%= @script.defense70 %></td>  
      </tr>  
      <tr>
        <td>21</td>
        <td><%= @script.hash71 %></td>
        <td><%= @script.down71 %>-<%= @script.distance71 %></td>
        <td><%= @script.play71 %></td>
        <td><%= @script.defense71 %></td>  
      </tr> 
      <tr>
        <td>22</td>
        <td><%= @script.hash72 %></td>
        <td><%= @script.down72 %>-<%= @script.distance72 %></td>
        <td><%= @script.play72 %></td>
        <td><%= @script.defense72 %></td>  
      </tr> 
      <tr>
        <td>23</td>
        <td><%= @script.hash73 %></td>
        <td><%= @script.down73 %>-<%= @script.distance73 %></td>
        <td><%= @script.play73 %></td>
        <td><%= @script.defense73 %></td>  
      </tr> 
      <tr>
        <td>24</td>
        <td><%= @script.hash74 %></td>
        <td><%= @script.down74 %>-<%= @script.distance74 %></td>
        <td><%= @script.play74 %></td>
        <td><%= @script.defense74 %></td>  
      </tr> 
      <tr>
        <td>25</td>
        <td><%= @script.hash75 %></td>
        <td><%= @script.down75 %>-<%= @script.distance75 %></td>
        <td><%= @script.play75 %></td>
        <td><%= @script.defense75 %></td>  
      </tr>      
    </table>    
  </div>
</div>  

<div style="float: left"> 
  <table class="table table-bordered" id="MyStyledTable">
    <tr><td colspan ="5"><center><h6><%= @script.situation4 %></h6></center></td></tr>
    <tr>
      <th style="font-size: 10px;">#</th>
      <th style="font-size: 10px;">Hash</th>
      <th style="font-size: 10px;">D-D</th>
      <th style="font-size: 10px;">Play</th>
      <th style="font-size: 10px;">Defense</th> 
    </tr>
    <tr>
      <td>1</td>
      <td><%= @script.hash76 %></td>
      <td><%= @script.down76 %>-<%= @script.distance76 %></td>
      <td><%= @script.play76 %></td>
      <td><%= @script.defense76 %></td>  
    </tr>  
    <tr>
      <td>2</td>
      <td><%= @script.hash77 %></td>
      <td><%= @script.down77 %>-<%= @script.distance77 %></td>
      <td><%= @script.play77 %></td>
      <td><%= @script.defense77 %></td>  
    </tr> 
    <tr>
      <td>3</td>
      <td><%= @script.hash78 %></td>
      <td><%= @script.down78 %>-<%= @script.distance78 %></td>
      <td><%= @script.play78 %></td>
      <td><%= @script.defense78 %></td>  
    </tr> 
    <tr>
      <td>4</td>
      <td><%= @script.hash79 %></td>
      <td><%= @script.down79 %>-<%= @script.distance79 %></td>
      <td><%= @script.play79 %></td>
      <td><%= @script.defense79 %></td>  
    </tr> 
    <tr>
      <td>5</td>
      <td><%= @script.hash80 %></td>
      <td><%= @script.down80 %>-<%= @script.distance80 %></td>
      <td><%= @script.play80 %></td>
      <td><%= @script.defense80 %></td>  
    </tr>
    <tr>
      <td>6</td>
      <td><%= @script.hash81 %></td>
      <td><%= @script.down81 %>-<%= @script.distance81 %></td>
      <td><%= @script.play81 %></td>
      <td><%= @script.defense81 %></td>  
    </tr> 
    <tr>
      <td>7</td>
      <td><%= @script.hash82 %></td>
      <td><%= @script.down82 %>-<%= @script.distance82 %></td>
      <td><%= @script.play82 %></td>
      <td><%= @script.defense82 %></td>  
    </tr> 
    <tr>
      <td>8</td>
      <td><%= @script.hash83 %></td>
      <td><%= @script.down83 %>-<%= @script.distance83 %></td>
      <td><%= @script.play83 %></td>
      <td><%= @script.defense83 %></td>  
    </tr> 
    <tr>
      <td>9</td>
      <td><%= @script.hash84 %></td>
      <td><%= @script.down84 %>-<%= @script.distance84 %></td>
      <td><%= @script.play84 %></td>
      <td><%= @script.defense84 %></td>  
    </tr> 
    <tr>
      <td>10</td>
      <td><%= @script.hash85 %></td>
      <td><%= @script.down85 %>-<%= @script.distance85 %></td>
      <td><%= @script.play85 %></td>
      <td><%= @script.defense85 %></td>  
    </tr>  
      <td>11</td>
      <td><%= @script.hash86 %></td>
      <td><%= @script.down86 %>-<%= @script.distance86 %></td>
      <td><%= @script.play86 %></td>
      <td><%= @script.defense86 %></td>  
    </tr>  
    <tr>
      <td>12</td>
      <td><%= @script.hash87 %></td>
      <td><%= @script.down87 %>-<%= @script.distance87 %></td>
      <td><%= @script.play87 %></td>
      <td><%= @script.defense87 %></td>  
    </tr> 
    <tr>
      <td>13</td>
      <td><%= @script.hash88 %></td>
      <td><%= @script.down88 %>-<%= @script.distance88 %></td>
      <td><%= @script.play88 %></td>
      <td><%= @script.defense88 %></td>  
    </tr> 
    <tr>
      <td>14</td>
      <td><%= @script.hash89 %></td>
      <td><%= @script.down89 %>-<%= @script.distance89 %></td>
      <td><%= @script.play89 %></td>
      <td><%= @script.defense89 %></td>  
    </tr> 
    <tr>
      <td>15</td>
      <td><%= @script.hash90 %></td>
      <td><%= @script.down90 %>-<%= @script.distance90 %></td>
      <td><%= @script.play90 %></td>
      <td><%= @script.defense90 %></td>  
    </tr> 
    <tr>
      <td>16</td>
      <td><%= @script.hash91 %></td>
      <td><%= @script.down91 %>-<%= @script.distance91 %></td>
      <td><%= @script.play91 %></td>
      <td><%= @script.defense91 %></td>  
    </tr> 
    <tr>
      <td>17</td>
      <td><%= @script.hash92 %></td>
      <td><%= @script.down92 %>-<%= @script.distance92 %></td>
      <td><%= @script.play92 %></td>
      <td><%= @script.defense92 %></td>  
    </tr> 
    <tr>
      <td>18</td>
      <td><%= @script.hash93 %></td>
      <td><%= @script.down93 %>-<%= @script.distance93 %></td>
      <td><%= @script.play93 %></td>
      <td><%= @script.defense93 %></td>  
    </tr> 
    <tr>
      <td>19</td>
      <td><%= @script.hash94 %></td>
      <td><%= @script.down94 %>-<%= @script.distance94 %></td>
      <td><%= @script.play94 %></td>
      <td><%= @script.defense94 %></td>  
    </tr> 
    <tr>
      <td>20</td>
      <td><%= @script.hash95 %></td>
      <td><%= @script.down95 %>-<%= @script.distance95 %></td>
      <td><%= @script.play95 %></td>
      <td><%= @script.defense95 %></td>  
    </tr>  
    <tr>
      <td>21</td>
      <td><%= @script.hash96 %></td>
      <td><%= @script.down96 %>-<%= @script.distance96 %></td>
      <td><%= @script.play96 %></td>
      <td><%= @script.defense96 %></td>  
    </tr> 
    <tr>
      <td>22</td>
      <td><%= @script.hash97 %></td>
      <td><%= @script.down97 %>-<%= @script.distance97 %></td>
      <td><%= @script.play97 %></td>
      <td><%= @script.defense97 %></td>  
    </tr> 
    <tr>
      <td>23</td>
      <td><%= @script.hash98 %></td>
      <td><%= @script.down98 %>-<%= @script.distance98 %></td>
      <td><%= @script.play98 %></td>
      <td><%= @script.defense98 %></td>  
    </tr> 
    <tr>
      <td>24</td>
      <td><%= @script.hash99 %></td>
      <td><%= @script.down99 %>-<%= @script.distance99 %></td>
      <td><%= @script.play99 %></td>
      <td><%= @script.defense99 %></td>  
    </tr> 
    <tr>
      <td>25</td>
      <td><%= @script.hash100 %></td>
      <td><%= @script.down100 %>-<%= @script.distance100 %></td>
      <td><%= @script.play100 %></td>
      <td><%= @script.defense100 %></td>  
    </tr>      
  </table>    
</div>
<div style="clear:both;"></div>
<h4><%= link_to 'Edit Script', edit_sed_script_path(@sed, @script) %></h4>
