<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @script.name %>
</p>

<p>
  <strong>Play1:</strong>
  <%= @script.play1 %>
</p>

<p>
  <strong>Hash1:</strong>
  <%= @script.hash1 %>
</p>

<p>
  <strong>Down1:</strong>
  <%= @script.down1 %>
</p>

<p>
  <strong>Distance1:</strong>
  <%= @script.distance1 %>
</p>

<p>
  <strong>Defense1:</strong>
  <%= @script.defense1 %>
</p>

<p>
  <strong>Sed:</strong>
  <%= @script.sed_id %>
</p>

<p>
  <strong>Situation1:</strong>
  <%= @script.situation1 %>
</p>

<%= link_to 'Edit', edit_script_path(@script) %> |
<%= link_to 'Back', scripts_path %>
