<p id="notice"><%= notice %></p>

<center><h1><%= @script.name %></h1></center>
<br>

<div style="float: left"> 
  <table class="table table-bordered">
    <tr><td colspan ="5"><center><h4><%= @script.situation1 %></h4></center></td></tr>
    <tr>
      <th>#</th>
      <th>Hash</th>
      <th>D-D</th>
      <th>Play</th>
      <th>Defense</th> 
    </tr>
    <tr>
      <td>1</td>
      <td><%= @script.hash1 %></td>
      <td><%= @script.down1 %>-<%= @script.distance1 %></td>
      <td><%= @script.play1 %></td>
      <td><%= @script.defense1 %></td>  
    </tr>  
    <tr>
      <td>2</td>
      <td><%= @script.hash2 %></td>
      <td><%= @script.down2 %>-<%= @script.distance2 %></td>
      <td><%= @script.play2 %></td>
      <td><%= @script.defense2 %></td>  
    </tr> 
    <tr>
      <td>3</td>
      <td><%= @script.hash3 %></td>
      <td><%= @script.down3 %>-<%= @script.distance3 %></td>
      <td><%= @script.play3 %></td>
      <td><%= @script.defense3 %></td>  
    </tr> 
    <tr>
      <td>4</td>
      <td><%= @script.hash4 %></td>
      <td><%= @script.down4 %>-<%= @script.distance4 %></td>
      <td><%= @script.play4 %></td>
      <td><%= @script.defense4 %></td>  
    </tr> 
    <tr>
      <td>5</td>
      <td><%= @script.hash5 %></td>
      <td><%= @script.down5 %>-<%= @script.distance5 %></td>
      <td><%= @script.play5 %></td>
      <td><%= @script.defense5 %></td>  
    </tr> 
    <tr>
      <td>6</td>
      <td><%= @script.hash6 %></td>
      <td><%= @script.down6 %>-<%= @script.distance6 %></td>
      <td><%= @script.play6 %></td>
      <td><%= @script.defense6 %></td>  
    </tr> 
    <tr>
      <td>7</td>
      <td><%= @script.hash7 %></td>
      <td><%= @script.down7 %>-<%= @script.distance7 %></td>
      <td><%= @script.play7 %></td>
      <td><%= @script.defense7 %></td>  
    </tr> 
    <tr>
      <td>8</td>
      <td><%= @script.hash8 %></td>
      <td><%= @script.down8 %>-<%= @script.distance8 %></td>
      <td><%= @script.play8 %></td>
      <td><%= @script.defense8 %></td>  
    </tr> 
    <tr>
      <td>9</td>
      <td><%= @script.hash9 %></td>
      <td><%= @script.down9 %>-<%= @script.distance9 %></td>
      <td><%= @script.play9 %></td>
      <td><%= @script.defense9 %></td>  
    </tr> 
    <tr>
      <td>10</td>
      <td><%= @script.hash10 %></td>
      <td><%= @script.down10 %>-<%= @script.distance10 %></td>
      <td><%= @script.play10 %></td>
      <td><%= @script.defense10 %></td>  
    </tr>  
      <td>11</td>
      <td><%= @script.hash11 %></td>
      <td><%= @script.down11 %>-<%= @script.distance11 %></td>
      <td><%= @script.play11 %></td>
      <td><%= @script.defense11 %></td>  
    </tr>  
    <tr>
      <td>12</td>
      <td><%= @script.hash12 %></td>
      <td><%= @script.down12 %>-<%= @script.distance12 %></td>
      <td><%= @script.play12 %></td>
      <td><%= @script.defense12 %></td>  
    </tr> 
    <tr>
      <td>13</td>
      <td><%= @script.hash13 %></td>
      <td><%= @script.down13 %>-<%= @script.distance13 %></td>
      <td><%= @script.play13 %></td>
      <td><%= @script.defense13 %></td>  
    </tr> 
    <tr>
      <td>14</td>
      <td><%= @script.hash14 %></td>
      <td><%= @script.down14 %>-<%= @script.distance14 %></td>
      <td><%= @script.play14 %></td>
      <td><%= @script.defense14 %></td>  
    </tr> 
    <tr>
      <td>15</td>
      <td><%= @script.hash15 %></td>
      <td><%= @script.down15 %>-<%= @script.distance15 %></td>
      <td><%= @script.play15 %></td>
      <td><%= @script.defense15 %></td>  
    </tr> 
    <tr>
      <td>16</td>
      <td><%= @script.hash16 %></td>
      <td><%= @script.down16 %>-<%= @script.distance16 %></td>
      <td><%= @script.play16 %></td>
      <td><%= @script.defense16 %></td>  
    </tr> 
    <tr>
      <td>17</td>
      <td><%= @script.hash17 %></td>
      <td><%= @script.down17 %>-<%= @script.distance17 %></td>
      <td><%= @script.play17 %></td>
      <td><%= @script.defense17 %></td>  
    </tr> 
    <tr>
      <td>18</td>
      <td><%= @script.hash18 %></td>
      <td><%= @script.down18 %>-<%= @script.distance18 %></td>
      <td><%= @script.play18 %></td>
      <td><%= @script.defense18 %></td>  
    </tr> 
    <tr>
      <td>19</td>
      <td><%= @script.hash19 %></td>
      <td><%= @script.down19 %>-<%= @script.distance19 %></td>
      <td><%= @script.play19 %></td>
      <td><%= @script.defense19 %></td>  
    </tr> 
    <tr>
      <td>20</td>
      <td><%= @script.hash20 %></td>
      <td><%= @script.down20 %>-<%= @script.distance20 %></td>
      <td><%= @script.play20 %></td>
      <td><%= @script.defense20 %></td>  
    </tr>  
    <tr>
      <td>21</td>
      <td><%= @script.hash21 %></td>
      <td><%= @script.down21 %>-<%= @script.distance21 %></td>
      <td><%= @script.play21 %></td>
      <td><%= @script.defense21 %></td>  
    </tr> 
    <tr>
      <td>22</td>
      <td><%= @script.hash22 %></td>
      <td><%= @script.down22 %>-<%= @script.distance22 %></td>
      <td><%= @script.play22 %></td>
      <td><%= @script.defense22 %></td>  
    </tr> 
    <tr>
      <td>23</td>
      <td><%= @script.hash23 %></td>
      <td><%= @script.down23 %>-<%= @script.distance23 %></td>
      <td><%= @script.play23 %></td>
      <td><%= @script.defense23 %></td>  
    </tr> 
    <tr>
      <td>24</td>
      <td><%= @script.hash24 %></td>
      <td><%= @script.down24 %>-<%= @script.distance24 %></td>
      <td><%= @script.play24 %></td>
      <td><%= @script.defense24 %></td>  
    </tr> 
    <tr>
      <td>25</td>
      <td><%= @script.hash25 %></td>
      <td><%= @script.down25 %>-<%= @script.distance25 %></td>
      <td><%= @script.play25 %></td>
      <td><%= @script.defense25 %></td>  
    </tr>                                       
  </table>  
</div>

<div style="float: left"> 
  <table class="table table-bordered">
    <tr><td colspan ="5"><center><h4><%= @script.situation2 %></h4></center></td></tr>
    <tr>
      <th>#</th>
      <th>Hash</th>
      <th>D-D</th>
      <th>Play</th>
      <th>Defense</th> 
    </tr>
    <tr>
      <td>1</td>
      <td><%= @script.hash26 %></td>
      <td><%= @script.down26 %>-<%= @script.distance26 %></td>
      <td><%= @script.play26 %></td>
      <td><%= @script.defense26 %></td>  
    </tr>  
    <tr>
      <td>2</td>
      <td><%= @script.hash27 %></td>
      <td><%= @script.down27 %>-<%= @script.distance27 %></td>
      <td><%= @script.play27 %></td>
      <td><%= @script.defense27 %></td>  
    </tr> 
    <tr>
      <td>3</td>
      <td><%= @script.hash28 %></td>
      <td><%= @script.down28 %>-<%= @script.distance28 %></td>
      <td><%= @script.play28 %></td>
      <td><%= @script.defense28 %></td>  
    </tr> 
    <tr>
      <td>4</td>
      <td><%= @script.hash29 %></td>
      <td><%= @script.down29 %>-<%= @script.distance29 %></td>
      <td><%= @script.play29 %></td>
      <td><%= @script.defense29 %></td>  
    </tr> 
    <tr>
      <td>5</td>
      <td><%= @script.hash30 %></td>
      <td><%= @script.down30 %>-<%= @script.distance30 %></td>
      <td><%= @script.play30 %></td>
      <td><%= @script.defense30 %></td>  
    </tr>
    <tr>
      <td>6</td>
      <td><%= @script.hash31 %></td>
      <td><%= @script.down31 %>-<%= @script.distance31 %></td>
      <td><%= @script.play31 %></td>
      <td><%= @script.defense31 %></td>  
    </tr> 
    <tr>
      <td>7</td>
      <td><%= @script.hash32 %></td>
      <td><%= @script.down32 %>-<%= @script.distance32 %></td>
      <td><%= @script.play32 %></td>
      <td><%= @script.defense32 %></td>  
    </tr> 
    <tr>
      <td>8</td>
      <td><%= @script.hash33 %></td>
      <td><%= @script.down33 %>-<%= @script.distance33 %></td>
      <td><%= @script.play33 %></td>
      <td><%= @script.defense33 %></td>  
    </tr> 
    <tr>
      <td>9</td>
      <td><%= @script.hash34 %></td>
      <td><%= @script.down34 %>-<%= @script.distance34 %></td>
      <td><%= @script.play34 %></td>
      <td><%= @script.defense34 %></td>  
    </tr> 
    <tr>
      <td>10</td>
      <td><%= @script.hash35 %></td>
      <td><%= @script.down35 %>-<%= @script.distance35 %></td>
      <td><%= @script.play35 %></td>
      <td><%= @script.defense35 %></td>  
    </tr>  
      <td>11</td>
      <td><%= @script.hash36 %></td>
      <td><%= @script.down36 %>-<%= @script.distance36 %></td>
      <td><%= @script.play36 %></td>
      <td><%= @script.defense36 %></td>  
    </tr>  
    <tr>
      <td>12</td>
      <td><%= @script.hash37 %></td>
      <td><%= @script.down37 %>-<%= @script.distance37 %></td>
      <td><%= @script.play37 %></td>
      <td><%= @script.defense37 %></td>  
    </tr> 
    <tr>
      <td>13</td>
      <td><%= @script.hash38 %></td>
      <td><%= @script.down38 %>-<%= @script.distance38 %></td>
      <td><%= @script.play38 %></td>
      <td><%= @script.defense38 %></td>  
    </tr> 
    <tr>
      <td>14</td>
      <td><%= @script.hash39 %></td>
      <td><%= @script.down39 %>-<%= @script.distance39 %></td>
      <td><%= @script.play39 %></td>
      <td><%= @script.defense39 %></td>  
    </tr> 
    <tr>
      <td>15</td>
      <td><%= @script.hash40 %></td>
      <td><%= @script.down40 %>-<%= @script.distance40 %></td>
      <td><%= @script.play40 %></td>
      <td><%= @script.defense40 %></td>  
    </tr> 
    <tr>
      <td>16</td>
      <td><%= @script.hash41 %></td>
      <td><%= @script.down41 %>-<%= @script.distance41 %></td>
      <td><%= @script.play41 %></td>
      <td><%= @script.defense41 %></td>  
    </tr> 
    <tr>
      <td>17</td>
      <td><%= @script.hash42 %></td>
      <td><%= @script.down42 %>-<%= @script.distance42 %></td>
      <td><%= @script.play42 %></td>
      <td><%= @script.defense42 %></td>  
    </tr> 
    <tr>
      <td>18</td>
      <td><%= @script.hash43 %></td>
      <td><%= @script.down43 %>-<%= @script.distance43 %></td>
      <td><%= @script.play43 %></td>
      <td><%= @script.defense43 %></td>  
    </tr> 
    <tr>
      <td>19</td>
      <td><%= @script.hash44 %></td>
      <td><%= @script.down44 %>-<%= @script.distance44 %></td>
      <td><%= @script.play44 %></td>
      <td><%= @script.defense44 %></td>  
    </tr> 
    <tr>
      <td>20</td>
      <td><%= @script.hash45 %></td>
      <td><%= @script.down45 %>-<%= @script.distance45 %></td>
      <td><%= @script.play45 %></td>
      <td><%= @script.defense45 %></td>  
    </tr>  
    <tr>
      <td>21</td>
      <td><%= @script.hash46 %></td>
      <td><%= @script.down46 %>-<%= @script.distance46 %></td>
      <td><%= @script.play46 %></td>
      <td><%= @script.defense46 %></td>  
    </tr> 
    <tr>
      <td>22</td>
      <td><%= @script.hash47 %></td>
      <td><%= @script.down47 %>-<%= @script.distance47 %></td>
      <td><%= @script.play47 %></td>
      <td><%= @script.defense47 %></td>  
    </tr> 
    <tr>
      <td>23</td>
      <td><%= @script.hash48 %></td>
      <td><%= @script.down48 %>-<%= @script.distance48 %></td>
      <td><%= @script.play48 %></td>
      <td><%= @script.defense48 %></td>  
    </tr> 
    <tr>
      <td>24</td>
      <td><%= @script.hash49 %></td>
      <td><%= @script.down49 %>-<%= @script.distance49 %></td>
      <td><%= @script.play49 %></td>
      <td><%= @script.defense49 %></td>  
    </tr> 
    <tr>
      <td>25</td>
      <td><%= @script.hash50 %></td>
      <td><%= @script.down50 %>-<%= @script.distance50 %></td>
      <td><%= @script.play50 %></td>
      <td><%= @script.defense50 %></td>  
    </tr>      
  </table>    
</div>
