<h1>Listing piece8s</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @piece8s.each do |piece8| %>
      <tr>
        <td><%= piece8.name %></td>
        <td><%= piece8.user_id %></td>
        <td><%= link_to 'Show', piece8 %></td>
        <td><%= link_to 'Edit', edit_piece8_path(piece8) %></td>
        <td><%= link_to 'Destroy', piece8, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Piece8', new_piece8_path %>
