<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece9.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @piece9.user_id %>
</p>

<%= link_to 'Edit', edit_piece9_path(@piece9) %> |
<%= link_to 'Back', piece9s_path %>
