<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece13.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @piece13.user_id %>
</p>

<p>
  <strong>Pnameform:</strong>
  <%= @piece13.pnameform_id %>
</p>

<%= link_to 'Edit', edit_piece13_path(@piece13) %> |
<%= link_to 'Back', piece13s_path %>
