<h1></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @piece16s.each do |piece16| %>
      <tr>
        <td><%= piece16.name %></td>
        <td><%= link_to 'Edit', edit_pnameform_piece16_path(@pnameform, piece16) %></td>
        <td><%= link_to 'Destroy', [@pnameform, piece16], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Piece16', new_pnameform_piece16_path %>
<%= link_to 'Back', @pnameform %>
