<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece10.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @piece10.user_id %>
</p>

<%= link_to 'Edit', edit_piece10_path(@piece10) %> |
<%= link_to 'Back', piece10s_path %>
