<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece11.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @piece11.user_id %>
</p>

<p>
  <strong>Pnameform:</strong>
  <%= @piece11.pnameform_id %>
</p>

<%= link_to 'Edit', edit_piece11_path(@piece11) %> |
<%= link_to 'Back', piece11s_path %>
