<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece12.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @piece12.user_id %>
</p>

<p>
  <strong>Pnameform:</strong>
  <%= @piece12.pnameform_id %>
</p>

<%= link_to 'Edit', edit_piece12_path(@piece12) %> |
<%= link_to 'Back', piece12s_path %>
