<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece17.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @piece17.user_id %>
</p>

<p>
  <strong>Pnameform:</strong>
  <%= @piece17.pnameform_id %>
</p>

<%= link_to 'Edit', edit_piece17_path(@piece17) %> |
<%= link_to 'Back', piece17s_path %>
