<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece4.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @piece4.user_id %>
</p>

<%= link_to 'Edit', edit_piece4_path(@piece4) %> |
<%= link_to 'Back', piece4s_path %>
