<h1></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @piece19s.each do |piece19| %>
      <tr>
        <td><%= piece19.name %></td>
        <td><%= link_to 'Edit', edit_pnameform_piece19_path(@pnameform, piece19) %></td>
        <td><%= link_to 'Destroy', [@pnameform, piece19], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Piece19', new_pnameform_piece19_path %>
<%= link_to 'Back', @pnameform %>
