<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece19.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @piece19.user_id %>
</p>

<p>
  <strong>Pnameform:</strong>
  <%= @piece19.pnameform_id %>
</p>

<%= link_to 'Edit', edit_piece19_path(@piece19) %> |
<%= link_to 'Back', piece19s_path %>
