<h1></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @piece7s.each do |piece7| %>
      <tr>
        <td><%= piece7.name %></td>
        <td><%= link_to 'Edit', edit_pnameform_piece7_path(@pnameform, piece7) %></td>
        <td><%= link_to 'Destroy', [@pnameform, piece7], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Piece7', new_pnameform_piece7_path %>
<%= link_to 'Back', @pnameform %>
