<h1></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @piece6s.each do |piece6| %>
      <tr>
        <td><%= piece6.name %></td>
        <td><%= link_to 'Edit', edit_pnameform_piece6_path(@pnameform, piece6) %></td>
        <td><%= link_to 'Destroy', [@pnameform, piece6], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Piece6', new_pnameform_piece6_path %>
<%= link_to 'Back', @pnameform %>
