<h1></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @piece23s.each do |piece23| %>
      <tr>
        <td><%= piece23.name %></td>
        <td><%= link_to 'Edit', edit_pnameform_piece23_path(@pnameform, piece23) %></td>
        <td><%= link_to 'Destroy', [@pnameform, piece23], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Piece23', new_pnameform_piece23_path %>
<%= link_to 'Back', @pnameform %>
