<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece23.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @piece23.user_id %>
</p>

<p>
  <strong>Pnameform:</strong>
  <%= @piece23.pnameform_id %>
</p>

<%= link_to 'Edit', edit_piece23_path(@piece23) %> |
<%= link_to 'Back', piece23s_path %>
