<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece25.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @piece25.user_id %>
</p>

<p>
  <strong>Pnameform:</strong>
  <%= @piece25.pnameform_id %>
</p>

<%= link_to 'Edit', edit_piece25_path(@piece25) %> |
<%= link_to 'Back', piece25s_path %>
