<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece14.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @piece14.user_id %>
</p>

<p>
  <strong>Pnameform:</strong>
  <%= @piece14.pnameform_id %>
</p>

<%= link_to 'Edit', edit_piece14_path(@piece14) %> |
<%= link_to 'Back', piece14s_path %>
