<%= form_for(@pnameform) do |f| %>
  <% if @pnameform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pnameform.errors.count, "error") %> prohibited this pnameform from being saved:</h2>

      <ul>
      <% @pnameform.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :pname1 %><br>
    <%= f.text_field :pname1, class: "from-control" %>
  </div>
  <div class="field">
    <%= f.label :pname2 %><br>
    <%= f.text_field :pname2 %>
  </div>
  <div class="field">
    <%= f.label :pname3 %><br>
    <%= f.text_field :pname3 %>
  </div>
  <div class="field">
    <%= f.label :pname4 %><br>
    <%= f.text_field :pname4 %>
  </div>
  <div class="field">
    <%= f.label :pname5 %><br>
    <%= f.text_field :pname5 %>
  </div>
  <div class="field">
    <%= f.label :pname6 %><br>
    <%= f.text_field :pname6 %>
  </div>
  <div class="field">
    <%= f.label :pname7 %><br>
    <%= f.text_field :pname7 %>
  </div>
  <div class="field">
    <%= f.label :pname8 %><br>
    <%= f.text_field :pname8 %>
  </div>
  <div class="field">
    <%= f.label :pname9 %><br>
    <%= f.text_field :pname9 %>
  </div>
  <div class="field">
    <%= f.label :pname10 %><br>
    <%= f.text_field :pname10 %>
  </div>
  <div class="field">
    <%= f.label :pname11 %><br>
    <%= f.text_field :pname11 %>
  </div>  
  <div class="field">
    <%= f.label :pname12 %><br>
    <%= f.text_field :pname12 %>
  </div> 
  <div class="field">
    <%= f.label :pname13 %><br>
    <%= f.text_field :pname13 %>
  </div> 
  <div class="field">
    <%= f.label :pname14 %><br>
    <%= f.text_field :pname14 %>
  </div> 
  <div class="field">
    <%= f.label :pname15 %><br>
    <%= f.text_field :pname15 %>
  </div> 
  <div class="field">
    <%= f.label :pname16 %><br>
    <%= f.text_field :pname16 %>
  </div> 
  <div class="field">
    <%= f.label :pname17 %><br>
    <%= f.text_field :pname17 %>
  </div> 
  <div class="field">
    <%= f.label :pname18 %><br>
    <%= f.text_field :pname18 %>
  </div>   
  <div class="field">
    <%= f.label :pname19 %><br>
    <%= f.text_field :pname19 %>
  </div> 
  <div class="field">
    <%= f.label :pname20 %><br>
    <%= f.text_field :pname20 %>
  </div> 
  <div class="field">
    <%= f.label :pname21 %><br>
    <%= f.text_field :pname21 %>
  </div> 
  <div class="field">
    <%= f.label :pname22 %><br>
    <%= f.text_field :pname22 %>
  </div> 
  <div class="field">
    <%= f.label :pname23 %><br>
    <%= f.text_field :pname23 %>
  </div> 
  <div class="field">
    <%= f.label :pname24 %><br>
    <%= f.text_field :pname24 %>
  </div> 
  <div class="field">
    <%= f.label :pname25 %><br>
    <%= f.text_field :pname25 %>
  </div>    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
