<p id="notice"><%= notice %></p>

<center><h1>Play Database</h1></center>
<br>
<div style "float: left"> 
  <table class="table table-bordered">
    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname1 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece1s.map{|piece1| piece1.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname1.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece1s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname2 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece2s.map{|piece2| piece2.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname2.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece2s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname3 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece3s.map{|piece3| piece3.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname3.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece3s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname4 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece4s.map{|piece4| piece4.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname4.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece4s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname5 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece5s.map{|piece5| piece5.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname5.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece5s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname6 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece6s.map{|piece6| piece6.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname6.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece6s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname7 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece7s.map{|piece7| piece7.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname7.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece7s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname8 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece8s.map{|piece8| piece8.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname8.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece8s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname9 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece9s.map{|piece9| piece9.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname9.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece9s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname10 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece10s.map{|piece10| piece10.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname10.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece10s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname11 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece11s.map{|piece11| piece11.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname11.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece11s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname12 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece12s.map{|piece12| piece12.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname12.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece12s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname13 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece13s.map{|piece13| piece13.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname13.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece13s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname14 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece14s.map{|piece14| piece14.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname14.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece14s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname15 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece15s.map{|piece15| piece15.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname15.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece15s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname16 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece16s.map{|piece16| piece16.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname16.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece16s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname17 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece17s.map{|piece17| piece17.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname17.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece17s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname18 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece18s.map{|piece18| piece18.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname18.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece18s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname19 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece19s.map{|piece19| piece19.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname19.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece19s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname20 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece20s.map{|piece20| piece20.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname20.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece20s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname21 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece21s.map{|piece21| piece21.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname21.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece21s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname22 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece22s.map{|piece22| piece22.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname22.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece22s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname23 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece23s.map{|piece23| piece23.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname23.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece23s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname24 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece24s.map{|piece24| piece24.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname24.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece24s_path(@pnameform) %>
      <% end %></td>  
    </tr>

    <tr>
      <td rowspan="3"><strong><%= @pnameform.pname25 %></strong></td>  
    </tr>
    <tr>    
      <td><strong><%= @piece25s.map{|piece25| piece25.name}.join(", ") %></strong></td>          
    </tr>        
      <td><% unless @pnameform.pname25.blank? %> 
        <%= link_to "Add or Edit", pnameform_piece25s_path(@pnameform) %>
      <% end %></td>  
    </tr>
  </table>                      
</div> 


<%= link_to 'Edit', edit_pnameform_path(@pnameform) %> |
<%= link_to 'Back', pnameforms_path %>
