<p id="notice"><%= notice %></p>

<div style "float: left"> 
  <table class="table table-bordered">
    <tr>
      <td><%= @pnameform.pname1 %>s</td>      
        <td><% @piece1s.each do |piece1| %>
          <%= piece1.name %>
        <% end %>     
        <%= link_to "Add or Edit #{@pnameform.pname1}s ", pnameform_piece1s_path(@pnameform) %></td> 
    </tr>





    <tr>
      <td><%= @pnameform.pname2 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname2}s", pnameform_piece2s_path(@pnameform) %></td> 
    </tr>
    <tr>
      <td><%= @pnameform.pname3 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname3}s", pnameform_piece3s_path(@pnameform) %></td> 
    </tr>     
    <tr>
      <td><%= @pnameform.pname4 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname4}s", pnameform_piece4s_path(@pnameform) %></td> 
    </tr>
    <tr>
      <td><%= @pnameform.pname5 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname5}s", pnameform_piece5s_path(@pnameform) %></td> 
    </tr>
    <tr>
      <td><%= @pnameform.pname6 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname6}s", pnameform_piece6s_path(@pnameform) %></td> 
    </tr>
    <tr>
      <td><%= @pnameform.pname7 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname7}s", pnameform_piece7s_path(@pnameform) %></td> 
    </tr>
    <tr>
      <td><%= @pnameform.pname8 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname8}s", pnameform_piece8s_path(@pnameform) %></td> 
    </tr>
    <tr>
        <td><%= @pnameform.pname9 %></td>      
        <td><%= link_to "Add or Edit #{@pnameform.pname9}s", pnameform_piece9s_path(@pnameform) %></td>  
    </tr>
    <tr>
      <td><%= @pnameform.pname10 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname10}s", pnameform_piece10s_path(@pnameform) %></td> 
    </tr>  
    <tr>
      <td><%= @pnameform.pname11 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname11}s", pnameform_piece11s_path(@pnameform) %></td> 
    </tr>
    <tr>
      <td><%= @pnameform.pname12 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname12}s", pnameform_piece12s_path(@pnameform) %></td> 
    </tr> 
    <tr>
      <td><%= @pnameform.pname13 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname13}s", pnameform_piece13s_path(@pnameform) %></td> 
    </tr> 
    <tr>
      <td><%= @pnameform.pname14 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname14}s", pnameform_piece14s_path(@pnameform) %></td> 
    </tr> 
    <tr>
      <td><%= @pnameform.pname15 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname15}s", pnameform_piece15s_path(@pnameform) %></td> 
    </tr> 
    <tr>
      <td><%= @pnameform.pname16 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname16}s", pnameform_piece16s_path(@pnameform) %></td> 
    </tr> 
    <tr>
      <td><%= @pnameform.pname17 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname17}s", pnameform_piece17s_path(@pnameform) %></td> 
    </tr> 
    <tr>
      <td><%= @pnameform.pname18 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname18}s", pnameform_piece18s_path(@pnameform) %></td> 
    </tr> 
    <tr>
      <td><%= @pnameform.pname19 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname19}s", pnameform_piece19s_path(@pnameform) %></td> 
    </tr> 
    <tr>
      <td><%= @pnameform.pname20 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname20}s", pnameform_piece20s_path(@pnameform) %></td> 
    </tr> 
    <tr>
      <td><%= @pnameform.pname21 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname21}s", pnameform_piece21s_path(@pnameform) %></td> 
    </tr> 
    <tr>
      <td><%= @pnameform.pname22 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname22}s", pnameform_piece22s_path(@pnameform) %></td> 
    </tr> 
    <tr>
      <td><%= @pnameform.pname23 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname23}s", pnameform_piece23s_path(@pnameform) %></td> 
    </tr> 
    <tr>
      <td><%= @pnameform.pname24 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname24}s", pnameform_piece24s_path(@pnameform) %></td> 
    </tr> 
    <tr>
      <td><%= @pnameform.pname25 %></td>      
      <td><%= link_to "Add or Edit #{@pnameform.pname25}s", pnameform_piece25s_path(@pnameform) %></td> 
    </tr>     
  </table>                      
</div> 


<%= link_to 'Edit', edit_pnameform_path(@pnameform) %> |
<%= link_to 'Back', pnameforms_path %>
