<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece20.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @piece20.user_id %>
</p>

<p>
  <strong>Pnameform:</strong>
  <%= @piece20.pnameform_id %>
</p>

<%= link_to 'Edit', edit_piece20_path(@piece20) %> |
<%= link_to 'Back', piece20s_path %>
